<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>

<body>
      <!-- Header -->
      <%- include('./includes/header') %>

  <main>
    
    <!-- agregando slider de 3 imagenes-->
<div class="b-slider">
    <div class="b-slider__inner">
      <input type="radio" name="slide" id="b-slider__switch-1" checked>
      <label for="b-slider__switch-1"></label>
      
      <input type="radio" name="slide" id="b-slider__switch-2">
      <label for="b-slider__switch-2"></label>
      
      <input type="radio" name="slide" id="b-slider__switch-3">
      <label for="b-slider__switch-3"></label>
      
      <!-- imagenes del slider -->
      <div class="b-slider__items">
        <div class="b-slider__item-1">
          <img src="../img/slider1.jpg" alt="imagen slider"/>
        </div>
        <div class="b-slider__item-2">
          <img src="../img/slider2.jpg"alt="imagen slider"/>
        </div>
        <div class="b-slider__item-3">
          <img src="../img/slider3.jpg"alt="imagen slider"/>
        </div>
      </div>
      
      
      <!--botones del slider-->
      <label for="b-slider__switch-1"></label>
      <label for="b-slider__switch-2"></label>
      <label for="b-slider__switch-3"></label>
      <!-- slider dots end -->
    </div>
  </div>
  <!-- termina el slider -->
  <!-- vista de tres productos --> 
  
    <section class="producto">

      <% list.forEach(products =>  { %>          
        <article class="levelgod">
          <h2><%=products.name%></h2>
            <a href="/product/detail/<%= products.id %> "> <img class="vista" src="../uploads/products/<%=products.image%>" alt="anteojopapu.jpg"></a>
        </article>
      <% } ) %>
      
    </section>
  </main>

  <!-- Footer -->
  <%- include('./includes/footer')%>   
</body>
</html>