<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Head -->
    <%- include('./includes/head') %>
</head>
<body>
    <!-- Header -->
    <%- include('./includes/header') %>
    <main>
    <form action="/product/update/<%= product.id %>?_method=PUT" method="post" id="edit-form" enctype="multipart/form-data">
        <fieldset>
            <figure><img src="/uploads/products/<%=product.image%>" alt=""></figure>
            <label for="image">image</label>
            <input type="file" name="image" id="image">
        </fieldset>
        <fieldset>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="<%= product.name %>" >
        </fieldset>
        <fieldset>
            <label for="brand">Brand</label>
            <select name="brand" id="brand">
                <% brands.forEach(brand => { %>
                    <% if (product.brand.id == brand.id) { %>
                        <option value="<%= brand.id %>" selected><%= brand.name %></option>
                    <% } else { %>
                        <option value="<%= brand.id %>"><%= brand.name %></option>
                    <% } %>
                <% }) %>
            </select>
        </fieldset>
        <fieldset>
            <label for="colors">Colors</label>
            <select name="colors" id="colors" multiple>
                <% colors.forEach(color => { %>
                    <% let match = product.colors.filter(productColor => productColor.id == color.id) %>
                    <% if (match.length > 0) { %>
                        <option selected value="<%= color.id %>" style="<%= `background-color:${color.value};`%>"><%= color.name %></option>
                    <% } else { %>
                        <option value="<%= color.id %>" style="<%= `background-color:${color.value};` %>"><%= color.name %></option>
                    <% } %>
                <% }) %>
            </select>
        </fieldset>
        <fieldset>
            <button type="submit">Send</button>
        </fieldset>
        </form> 
    </main>
    <!-- Footer -->
<%- include('./includes/footer')%>   
</body>
</html>