<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./includes/head') %> 

<body>
    <!-- Header -->
    <%- include('./includes/header') %> 

    <main>
        <section class="crearProducto">
            <% if (user && user.admin == 1) { %>
            <button class="boton"><a href="/product/create/<%= list.id %>">Crear Producto</a></button>
            <% } %> 
        </section>
        <section >  
            <h6>Productos</h6>
            <div class="varitems">
                <% list.forEach(products =>  { %>
                <article> 
                    
                   
                    <img src="../uploads/products/<%=products.imagenes[0].file%>" class="imgProducto" alt="fotoDeAnteojo.jpg"></a>    
                  
                    <h3 class="name"><%=products.name%></h3>
                    <p class="price">Precio: $<%=products.price%></p>
                    <p class="stock">Stock: <%=products.stock%></p>
                    <p><button class="verProducto"><a href="/product/detail/<%= products.id %>">Ver Producto</a></button></p>
                </article>
                
                <% } ) %>
            </div>
        </section>
    </main>
<!-- Footer -->
<%- include('./includes/footer')%> 
</body>

</html>