<!DOCTYPE html>
<html lang="en">
    <!-- Head -->
    <%- include('./includes/head') %>
    <link href="/css/productCart.css" rel="stylesheet">
<body>
    <!-- Header -->
    <%- include('./includes/header') %> 

    <main>
        <div class="titulocarrito">Carrito de compras de USER = <%= user.userName %></div>
            <div class="inventario">
                <% products.forEach(product =>  { %>
                <div class="items">
                    <div class="contimg">
                          <img class="cartimg" src="../../uploads/products/<%= product.imagenes[0].file %> ">
                     </div>
                    
                <form action="/cart/add" method="post"> 
                     <input class="inputcar" type="hidden" name="product" value=<%= product.id %> ></input>
                     <input class="inputcar" type="hidden" name="user" value=<%= user.id %> ></input>
                     <input class="inputcar" type="number" name="quantity" id="quantity" min="1"></input>
                     <button class="btn-10" type="submit">Agregar</button>
                     <div class="continfo">
                        <h5>Producto: <%= product.name %> </h5>
                        <h5>Precio: $<%= product.price %> </h5>
                    </div>
                </form>
                       
               
                    <!-- <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div> -->
                </div>
                <!-- <div class="items">
                    <div class="contimg">
                        <img class="cartimg" src="/img/scape.jpg">
                    </div>
                    <div class="continfo">
                        <h5>Anteojos "Product 2"</h5>
                        <h5>$1200</h5>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="items">
                    <div class="contimg">
                        <img class="cartimg" src="/img/marmolado.jpg">
                    </div>
                    <div class="continfo">
                        <h5>Anteojos "Product 3"</h5>
                        <h5>$1200</h5>
                    </div>
                    <div class="conticon">
                        <i class="fas fa-times"></i>
                    </div>
                </div> -->
            <% }) %>  
            </div>
            <!-- <section class="cart">
                <h5 class="textoProducto">TOTAL: $<%= products[0].price   %>  </h5>
            </section>
            <section class="checkout">
                <button class="custom-btn btn-10">Elegir mas productos</button>
                <button class="custom-btn btn-10">Finalizar compra</button>
            </section> -->
    </main>
    <!-- Footer -->
   <%- include('./includes/footer')%>   
</body>

</html>