<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
</head>
<body>
    <header>
        <figure>
            <a href="/">
                <img class="logo" src="/design/logofinal.png" alt="logo" />
            </a>
        </figure>
    </header>
  
    
    <main>
       
        <form action="/users/update/<%=listToEdit.id%>?_method=PUT" method="post" class="register-form" enctype="multipart/form-data">
            <h2>Edición de usuarios, por favor completar los datos <i class="far fa-hand-point-down"></i></h2>
            <fieldset class="register-field">
                <label for="fullName">NOMBRE Y APELLIDO</label>
                <input type="text" name="fullName" id="fullName" placeholder="Nombre y apellido" value="<%= listToEdit.fullName %>">
            </fieldset> 

            <fieldset class="register-field">
                <label for="userName">NOMBRE DE USUARIO</label>
                <input type="text" name="userName" id="userName" placeholder="Nombre de Usuario" value="<%= listToEdit.userName %>">                  
            </fieldset>  

            <fieldset class="register-field">
                <label for="dni">NUMERO DE DOCUMENTO</label>
                <input type="text" name="dni" id="dni" placeholder="Dni" value="<%= listToEdit.dni %>">                  
            </fieldset> 

            <fieldset class="register-field">
                <label for="email">CORREO ELECTRONICO</label>
                <input type="email" name="email" id="email" placeholder="E-mail" value="<%= listToEdit.email %>">                  
            </fieldset> 

            <fieldset class="register-field">
                <label for="domicilio"> DOMICILIO</label>
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" value="<%= listToEdit.domicilio %>">                  
                <label> PROVINCIA</label>
                
                <select name="provincia">           
                    <option value="<%= listToEdit.provincia %>" selected="selected"><%= listToEdit.provincia %></option>
                    <%  
                        let provinces = ['Buenos Aires', 'Catamarca', 'Chaco', 'Chubut', 'Ciudad de Buenos Aires', 'Córdoba', 'Corrientes', 'Entre Rios', 'Formosa', 'Jujuy',
                        'La Pampa', 'La Rioja', 'Mendoza', 'Misiones', 'Neuquen', 'Rio Negro', 'Salta', 'San Juan', 'San Luis', 'Santa Cruz', 'Santiago del Estero', 'Tierra del Fuego', 'Tucuman'  ];
                    %>
                    <% for (const oneProvince of provinces) { %>
                        <option 
                            value="<%= oneProvince %>" > 
                            <%= oneProvince %> 
                        </option>
                    <% } %>
                </select>
               
                <label>CIUDAD</label>
                <select name="ciudad">
                    <option value="#">S/D</option>
                </select>
              
            </fieldset> 

            <fieldset class="register-field">
                <label for="password">CONTRASEÑA</label>
                <input type="password" name="password" id="password" placeholder="Elegí tu contraseña">                  
            </fieldset> 

            <fieldset class="register-field">
                <label for="confirmarContraseña">CONFIRME SU CONTRASEÑA</label>
                <input type="password" name="confirmarContraseña" id="confirmarContraseña" placeholder="Confirmá tu contraseña">                  
            </fieldset> 

            <h5>Subí tu avatar</h5>
            <fieldset class="register-field-pic">
                <input type="file" name="avatar" accept=".jpg">                    
            </fieldset> 

            <!--
            <h5>Términos y condiciones</h5>
            <fieldset class="register-field-check">
                <label for="terminos"><input type="checkbox" name="terminos" id="terminos"> Acepto términos y condiciones</label>                
            </fieldset> -->

            <fieldset class="register-field">
                <button type="submit">Enviar</button>
            </fieldset>

            <h4>¿Ya tenes una cuenta?
                <a href="/login">Inicia Sesión</a>
            </h4>
        </form> 
    
    </main>

    <!-- Footer -->
    <%- include('./includes/footer')%>  
</body>
</html>